* {
    box-sizing: border-box;
}

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clear {
   clear: both;
}

/*body*/

body{
    height: 100%;
    width: 100%;
    background-color: rgb(247, 233, 220);
    font-size: 18px;
    font-family:'DM Sans', sans-serif;
    display: flex;
    justify-content: center;
}


.firstsec{
    color: white;
    width: 100%;
    background-color: rgb(236, 117, 93);
    margin-right: 20px 0;
    border-radius: 10px;
}
.firstsec span{
    font-size: xx-large;
}
.secsec{
    background-color: rgb(255, 252, 247);
    width: 100%;
    border-radius: 10px;
    height: 90%;
    color: black;
}
.minisecone{
    font-size: 25px;
    padding: 20px 50px;
    /* border: 10px solid gold; */
    /* margin: 20px 0; */
}
.minisectwo{
    display: flex;
    justify-content: space-around;
    margin-right: 20px 0;
    border-radius: 10px;
}
.minisectwo .leftone{
    /* padding-left: 10px 0;   */
    margin-left: 50px 0; 
}
.attribution{
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

